{% extends 'admin/base.html' %}
{% block container %}


<button type="button" id="back_url" class="btn btn-page"><span class="btn-icon-start text-info"><i
        class="fa fa-left-long color-info"></i></span>Назад
</button>
<div class="element-area">
    <div class="demo-view">
        <div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
            <div class="col-xl-12">
                <div class="card dz-card" id="basic-list">
                    <div class="card-header d-flex justify-content-between ">
                        <h4 class="card-title">Ответы</h4>
                        <ul class="nav nav-tabs dzm-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="add_question">Создать
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="BasicList" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="card-body">
                                <div class="basic-list-group">
                                    <ul class="list-group" id="list_items">

                                    </ul>
                                    <ul class="list-group" id="list_answers">

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    let curl_url = location.pathname.split('/');
    let question_id = curl_url[curl_url.length - 1] || curl_url[curl_url.length - 2];

    $('#back_url').on('click', function () {
        window.history.back();
    })

    function addEditAnswersDeleteButtons(Element, item) {
        let newSpan = $('<span>');

        let newButtonEdit = $('<a>').addClass('btn btn-primary shadow btn-xs sharp me-1');
        newButtonEdit.append($('<i>').addClass('fa fa-pencil'));
        newSpan.append(newButtonEdit);

        let newButtonDelete = $('<a>').addClass('btn btn-danger shadow btn-xs sharp me-1');
        newButtonDelete.append($('<i>').addClass('fa fa-trash'));
        newSpan.append(newButtonDelete);

        Element.append(newSpan);

        $(newButtonEdit).on("click", function () {
            showEditInput(Element, item)
        });

        $(newButtonDelete).on("click", function () {
            deleteQuestion(Element, item)
        });
    }

    function showDataItem(item) {
        let newElement = $('<li>')
            .text(item.title)
            .addClass('list-group-item d-flex justify-content-between align-items-center js-question-item')
            .attr("data-id", item.id)
        ;

        addEditAnswersDeleteButtons(newElement, item);

        $("#list_items").append(newElement);
    }

    function showEditInput(element, item) {
        element.text('')

        let newInput = $('<input>').attr('name', 'title').addClass('form-control').css('margin-right', '1%').val(item.title)
        element.append(newInput);

        let newButtonSave = $('<a>').addClass('btn btn-success shadow btn-xs sharp me-1');
        newButtonSave.append($('<i>').addClass('fa fa-check'));
        element.append(newButtonSave);

        let newButtonCancel = $('<a>').addClass('btn btn-warning shadow btn-xs sharp me-1');
        newButtonCancel.append($('<i>').addClass('fa fa-cancel'));
        element.append(newButtonCancel);

        newButtonSave.on('click', function () {
            updateQuestion(element, item, {title: newInput.val()})
        });

        newButtonCancel.on('click', function () {
            element.text(item.title);
            addEditAnswersDeleteButtons(element, item)
        });
    }

    $.ajax({
        type: 'GET',
        dataType: 'json',
        url: '/api/testings/answers/' + question_id.toString() + '/list/',
        success: function (d) {
            if (d['_success'] === true) {
                $.each(d['answers'], function (index, item) {
                    showDataItem(item)
                });
            } else {
                alertShow(d['message'], 'error');
            }
        },
        error: function (d) {
            alertShow('waring');
        }
    })

    $('#add_question').click(function () {
        var newElementLi = $('<li>')
            .addClass('list-group-item d-flex justify-content-between align-items-center new-column-question js-question-item')
        ;
        let newInput = $('<input>').attr('name', 'title').addClass('form-control').css('margin-right', '1%')
        newElementLi.append(newInput);

        var newButtonCheck = $('<a>').addClass('btn btn-success shadow btn-xs sharp me-1');
        newButtonCheck.append($('<i>').addClass('fa fa-check'));
        newElementLi.append(newButtonCheck);

        var newButtonCancel = $('<a>').addClass('btn btn-warning shadow btn-xs sharp me-1');
        newButtonCancel.append($('<i>').addClass('fa fa-cancel'));
        newElementLi.append(newButtonCancel);

        newButtonCheck.on('click', function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/api/testings/answers/' + question_id.toString() + '/list/',
                data: JSON.stringify({
                    'title': newInput.val()
                }),
                success: function (d) {
                    if (d['_success'] === true) {
                        alertShow('success')
                        let newElementLi = $('<li>')
                            .text(d.answer.title)
                            .addClass('list-group-item d-flex justify-content-between align-items-center js-question-item')

                        addEditAnswersDeleteButtons(newElementLi, d.answer);
                        $('.new-column-question').remove();
                        $("#list_items").prepend(newElementLi);

                    } else {
                        alertShow('error', d['message']);
                    }
                },
                error: function (d) {
                    alertShow('waring');
                }
            });
        });

        newButtonCancel.on('click', function () {
            $('.new-column-question').remove();
        });

        $("#list_items").prepend(newElementLi);
    });

    function deleteQuestion(ElementLi, item) {
        $.ajax({
            type: 'DELETE',
            dataType: 'json',
            url: '/api/testings/answers/' + item.id.toString(),
            success: function (d) {
                if (d['_success'] === true) {
                    alertShow('success')
                    ElementLi.remove()
                } else {
                    alertShow('error', d['message'])
                }
            },
            error: function (d) {
                alertShow('waring')
            }
        });
    }

    function updateQuestion(element, item, body) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/api/testings/answers/' + item.id.toString(),
            data: JSON.stringify(body),
            success: function (d) {
                if (d['_success'] === true) {
                    element.text(body.title);
                    item.title = body.title
                    addEditAnswersDeleteButtons(element, item)
                    alertShow('success')
                } else {
                    alertShow('error', d['message'])
                }
            },
            error: function (d) {
                alertShow('waring')
            }
        });
    }


</script>
{% endblock %}