{% extends 'admin/base.html' %}
{% block container %}
<div class="row">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="heading mb-0">Уроки</h4>
        <div class="d-flex align-items-center">
            <a href="/api/lessons/create/" class="btn btn-primary btn-sm ms-2">+ Добавить</a>
        </div>
    </div>
    <div class="col-xl-10 active-p">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-colm" role="tabpanel" aria-labelledby="pills-colm-tab">
                <div class="card">
                    <div class="card-body px-0">
                        <div class="table-responsive active-projects user-tbl  dt-filter">
                            <div id="user-tbl_wrapper" class="dataTables_wrapper no-footer">
                                <div id="user-tbl_filter" class="dataTables_filter"><label> <i
                                        class="fa-solid fa-magnifying-glass"></i><input type="search" class=""
                                                                                        placeholder="Search..."
                                                                                        aria-controls="user-tbl"></label>
                                </div>
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th><strong>Название</strong></th>
                                        <th><strong>Описания</strong></th>
                                        <th><strong></strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in data.lessons %}
                                    <tr>
                                        <td>
                                            <span>{{ item.title }}</span>
                                        </td>
                                        <td>
                                            <span>{{ item.description }}</span>
                                        </td>

                                        <td>
                                            <div class="d-flex">
                                                <a class="btn btn-info shadow btn-xs sharp me-1"
                                                   href="/api/lessons/{{item.id}}"><i
                                                        class="fa fa-info"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row ">
                                    <!-- column -->
                                    <div class="col-12 ps-3">
                                        <div class="table-pagenation">
                                            <nav>
                                                <ul class="pagination pagination-sm">
                                                    <li class="page-item page-indicator">
                                                        <a class="page-link"
                                                           {% if data.pager.prev_page %}
                                                           href="/api/users/?limit={{data.pager.limit}}&page={{data.pager.prev_page}}"
                                                           {% endif %}
                                                        >
                                                            <i class="fa-solid fa-angle-left"></i></a>

                                                    </li>
                                                    <li class="page-item "><a class="page-link">{{data.pager.page}}</a>
                                                    </li>
                                                    <li class="page-item page-indicator">
                                                        <a class="page-link"
                                                           {% if data.pager.next_page %}
                                                           href="/api/users/?limit={{data.pager.limit}}&page={{data.pager.next_page}}"
                                                           {% endif %}
                                                        ><i class="fa-solid fa-angle-right"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}